.header__hamburger-menu {
  visibility: hidden;
}

.header__hamburger-menu_opened {
  top: 0;
}

.header__hamburger-icon {
  width: 45px;
  height: 45px;
  background-image: url(../../images/hamburger-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: .2s linear;
  visibility: hidden;
}

.header__hamburger-icon_opened {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 2;
  width: 33px;
  height: 33px;
}

.header__hamburger-icon:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 530px) {
  .header__hamburger-icon {
    width: 39px;
    height: 39px;
  }

  .header__hamburger-icon_opened {
    width: 33px;
    height: 33px;
  }
}

.header__hamburger-menu:checked~.header__hamburger-icon {
  background-image: url(../../images/close-icon.svg);
  position: fixed;
}

@media screen and (max-width: 799px) {
  .header__hamburger-icon {
    visibility: visible;
  }
}

.header__hamburger-popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
}

.header__container-hamburger {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100vw;
  min-width: 520px;
  box-sizing: border-box;
  padding: 153px 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-gap: 10px;
  gap: 14px;
  z-index: 1;
}

@media screen and (max-width: 530px) {
  .header__container-hamburger {
    min-width: 100vw;
    padding: 144px 10px 27px;
    gap: 10px;
  }
}

.header__link-hamburger {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
  text-decoration: none;
}

.header__link-hamburger_active {
  border-bottom: 2px solid #000;
}