.navtab {
  padding: 25px 18px;
  background-color: #000;
  display: flex;
  justify-content: center;
  gap: 0 40px;
}

.navtab__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  text-decoration-line: underline;
  color: #FFFFFF;
}

@media screen and (max-width: 400px) {
  .navtab__link {
    font-size: 11px;
    line-height: 1.45;
  }
  .navtab {
    gap: 0 24px;
  }
}