.register {
  margin: auto;
  padding: 77px 0 70px;
  width: calc(100% - 60px);
  max-width: 396px;
  font-family: Inter;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.register__title {
  margin: 36px 0 38px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.register__form {
  margin-bottom: 53px;
  width: 100%;
}

.register__caption {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 16px 0 0;
  text-align: center;
}

.register__link {
  color: #3456F3;
  text-decoration: none;
  margin: 0 0 0 6px;
}

@media screen and (max-width: 530px) {
  .register {
    padding: 64px 0 30px;
    align-items: center;
  }

  .register__title {
    margin: 47px 0 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .register__form {
    margin-bottom: 140px;
  }

  .register__caption {
    font-size: 12px;
    line-height: 15px;
  }
}