.register {
  margin: auto;
  padding: 70px 0;
  width: calc(100% - 60px);
  max-width: 396px;
  font-family: Inter;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

.register__title {
  margin: 36px 0 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.register__caption {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin: 16px 0 0;
  text-align: center;
}

.register__link {
  color: #000;
  text-decoration: none;
  margin: 0 0 0 6px;
}

.button {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  border: none;
  color: #fff;
  background-color: #000;
  border-radius: 3px;
  width: 100%;
  min-height: 45px;
}

.button_place_register {
  margin-top: 128px;
}

.button_disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.button_disabled:hover {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .register {
    padding: 232px 0;
  }
}

@media screen and (max-width: 530px) {
  .register {
    padding: 56px 0 30px;
    align-items: center;
  }

  .register__title {
    margin: 47px 0 80px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
  }

  .register__caption {
    font-size: 12px;
    line-height: 15px;
  }

  .button_place_register {
    margin-top: 215px;
  }
}